ion-button.signUp {
    --background: #53bc9c ;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  }

.forgotPassword {
    font-weight: 400;
    font-size: 0.9rem;
    color:  #6b6c6f;
}