<ion-menu contentId="menu-content" menuId="menu-content" side="start">
  <ion-content>

    <ion-list id="inbox-list">
      <div class="menu-item">
        <div *ngIf="pokemon" (click)="updatePokemonSprite()">
          <img [src]="pokemon.spriteUrl" alt="Perfil" class="menu-image">
        </div>
        
        <div class="menu-text">
          <ion-list-header class="texto">{{user()?.name}}</ion-list-header>
          <ion-note >{{user()?.email}}</ion-note>
        </div>
      </div>
    </ion-list>

    <ion-menu-toggle auto-hide="false">
      <ion-item [routerLink]="['/settings']" lines="none">
        <ion-icon aria-hidden="true" slot="start" name="settings-outline"></ion-icon>
        <ion-label class="texto"> Configuración</ion-label>
     </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle auto-hide="false">
      <ion-item  lines="none">
        <ion-icon aria-hidden="true" slot="start" name="help-circle-outline"></ion-icon>
        <ion-label class="texto"> Ayuda</ion-label>
     </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle auto-hide="false">
      <ion-item  (click)="signOut()" lines="none">
        <ion-icon aria-hidden="true" slot="start" name="exit-outline" color="danger"></ion-icon>
        <ion-label class="texto" color="danger">Cerrar sesión</ion-label>
     </ion-item>
    </ion-menu-toggle>

  </ion-content>
</ion-menu>
<ion-router-outlet id="menu-content" main></ion-router-outlet>
