<app-header [isModal]="true" title=" Categoria de {{category.name}}"></app-header>
<ion-content>

  <!-- Lista de gastos -->
  <ion-list>
    <div>
      <ion-row justify-content-between>
        <ion-col size="6" text-start>
          <ion-title>Gastos</ion-title>
        </ion-col>
        <ion-col size="6" text-end>
          <ion-title>Total: $ {{totalExpenses() | number:'1.0-0'}}</ion-title>
        </ion-col>
      </ion-row>
    </div>
    
    <ion-item-sliding *ngFor="let e of expenses">
      <ion-item >
        <ion-label color="danger">- {{e.amount | number:'1.0-0'}}</ion-label>
        <p>{{ e.date | date:'dd-MM-yyyy'}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>


  <!-- Loading -->
  <ion-list *ngIf="loading">
    <ion-item-sliding *ngFor="let e of [1,1,1,1,1,1]">
      <ion-item>
        <ion-skeleton-text animated style="width: 98%"></ion-skeleton-text>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <!-- Sin gastos -->
  <div *ngIf="!loading && !expenses.length" class="empty">
    <ion-icon name="cash"></ion-icon>
    <h3>Sin gastos en esta categoría</h3>
  </div>

</ion-content>