<app-header backButton="/auth" title="Recuperar Cuenta"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <app-logo></app-logo>

      <!-- Input Correo y validacion -->
      <app-custom-input 
      autoComplete="email" 
      icon="mail-outline" 
      type="email" 
      label="Correo" 
      [control]="form.controls.email"></app-custom-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']"><p class="ion-text-start">El correo es requerido</p></div>
        <div *ngIf="form.controls.email.errors?.['email']"><p class="ion-text-start">Ingrese correo valido</p></div>
      </div>



      <!-- Botón enviar correo de recuperación -->
      <ion-button  expand="block"  mode="ios" class="submit signUp" type="submit" [disabled]="form.invalid">
        Enviar
      </ion-button>


    </form>
  </div>
</ion-content>