<app-header title="Inicio">
</app-header>


<ion-content [fullscreen]="true">

  <!-- Refresca -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="700">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Botón para agregar gastos -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addUpdateExpense()">
        <ion-icon name="trending-down-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addUpdateIncome()">
        <ion-icon name="trending-up-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Carta que muestra gasto-->
<ion-card mode="ios">
  <ion-card-header>
    <ion-card-title>Balance: $ {{balance()}}</ion-card-title>
  </ion-card-header>
  <div *ngIf="expenses.length" class="ion-text-center">
    <div class="row">
      <div class="col text-center">
        <h5 style="margin-bottom: 0;">$ {{totalExpenses() | number:'1.0-0'}}</h5>
        <p style="margin-top: 0;">Gastos</p>
      </div>
      <div class="col text-center" >
        <h5 style="margin-bottom: 0;">$ {{totalIncome() | number:'1.0-0'}}</h5>
        <p style="margin-top: 0;">Ingresos</p>
      </div>
    </div>
  </div>
</ion-card>


  <ion-list>
    <!-- Lista de gastos -->
    <ion-title>Gastos</ion-title>
    <ion-item-sliding *ngFor="let e of expenses">
      <ion-item (click)="addUpdateExpense(e)" >
        <ion-label color="danger"> {{e.amount | number:'1.0-0'}}</ion-label>
        <p>{{ e.date | date:'dd-MM-yyyy'}}</p>
      </ion-item>
    </ion-item-sliding>
  
    <!-- Lista de ingresos -->
    <ion-title>Ingresos</ion-title>
    <ion-item-sliding *ngFor="let i of incomes">
      <ion-item (click)="addUpdateIncome(i)" >
        <ion-label color="success"> {{i.amount | number:'1.0-0'}}</ion-label>
        <p>{{ i.date | date:'dd-MM-yyyy'}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

    <!-- Loading -->
    <ion-list *ngIf="loading">
      <ion-item-sliding *ngFor="let e of [1,1,1,1,1,1]">
        <ion-item>
          <ion-skeleton-text animated style="width: 98%"></ion-skeleton-text>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <!-- Sin gastos -->
    <div *ngIf="!loading && !expenses.length" class="empty">
      <ion-icon name="cash"></ion-icon>
      <h3>Sin gastos</h3>
    </div>

    <!-- Muestra las categorias-->
    <ion-list>
      <ion-title>Categorías</ion-title>
      <ion-item-sliding *ngFor="let c of categories">
        <ion-item (click)="categoryList(c)">
          <ion-label> {{c.name}}</ion-label>
          <ion-icon slot="start" name="{{c.icon}}"></ion-icon>
        </ion-item>
      </ion-item-sliding>
    </ion-list>



</ion-content>
