<app-header title="Inicio">
</app-header>


<ion-content [fullscreen]="true">

  <!-- Refresca -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="700">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Botón para agregar gastos -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateExpense()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Carta que muestra gasto-->
  <ion-card mode="ios" >
    <ion-card-header>
      <ion-card-title>Balance</ion-card-title>
    </ion-card-header>
    <div *ngIf="!expenses.length" class="d-flex-center ion-text-center">
      <h5>$ 0</h5>
    </div>

    <div *ngIf="expenses.length" class="d-flex-center ion-text-center">
      <h5>{{totalExpenses()  | currency}}</h5>
    </div>
  </ion-card>

  <!-- Lista de gastos -->
  <ion-list>
    <ion-title>Gastos</ion-title>
    <ion-item-sliding *ngFor="let e of expenses">
      <ion-item (click)="addUpdateExpense(e)">
        <ion-label color="danger">- {{e.amount | number:'1.0-0'}}</ion-label>
        <p>{{ e.date | date:'dd-MM-yyyy'}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <!-- Loading -->
  <ion-list *ngIf="loading">
    <ion-item-sliding *ngFor="let e of [1,1,1,1,1,1]">
      <ion-item>
        <ion-skeleton-text animated style="width: 98%"></ion-skeleton-text>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

    <!-- Sin gastos -->
  <div *ngIf="!loading && !expenses.length" class="empty">
    <ion-icon name="cash"></ion-icon>
    <h3>Sin gastos</h3>
  </div>



  <ion-list>
    <ion-title>Categorias</ion-title>
    <ion-item-sliding *ngFor="let c of categories">
      <ion-item >
        <ion-label> {{c.name}}</ion-label>
        <ion-icon slot="start" name="{{c.icon}}"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>


</ion-content>
